.Cart__container {
  min-height: 100vh;
  max-width: 1020px;
  margin: auto;
}

.cartTitle {
  font-size: var(--font-size-lg);
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.Cart_division {
  display: flex;
  position: relative;
}

.cartItemList {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cartNoItems {
  font-size: var(--font-size-md);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cart__checkout {
  flex: 4;
  margin: 1rem;
  padding: 1rem;
  position: sticky;
  top: 2rem;
  height: max-content;
  background-color: white;
  border-radius: 0.5rem;
}

.cartTotalPrice {
  font-size: var(--font-size-md);
}
