.confirmMessage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.confirmMessage > * {
  margin-top: 1.5rem;
}

.confirmMessage__btnDiv {
  width: 90%;
  display: flex;
}

.confirmMessage__btnDiv > * {
  flex: 1;
}

.confirmMessage img {
  height: 2rem;
  margin-top: 1rem;
  object-fit: contain;
}

.confirmMessage__negBtn {
  border: none;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.confirmMessage__posBtn {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
